:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-background-color: rgba(255, 119, 0, 1);
  --counter-primary-background-color: rgba(255, 255, 255, 0.12);
  --secondary-background-color: rgba(131, 102, 86, 0.12);
  --primary-text-color: rgba(255, 255, 255, 1);
  --secondary-text-color: rgba(46, 47, 51, 1);
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: #eee;
}
